*{
    margin: 0;
    padding: 0;
}

main{
    width: 1200px;
    max-width: 90%;
    margin: 20px auto;
}
.section-title, .course-title{
    margin-top: 5%;
}
.top-player, .top-blog, .main-div{
    display: grid;
    place-items: center;
    grid-gap: 20px;
    margin-top: 40px;
}
.top-player{
    grid-template-columns: repeat(3, 1fr);
}
.top-blog{
    grid-template-columns: repeat(2, 1fr);

}
.main-div{
    grid-template-columns: repeat(3, 1fr);
}
.player, .article-blog{
    display: flex;
    align-items: center;
}
.player img{
    height: 50px;
    margin-bottom: 10px;
    margin-right: 20px;
}
.thumbnail-blog img{
    width: 250px;
    margin-right: 15px;
}
.img-div img{
    width: 300px;
}
.player h3{
    margin-top: 15px;
}
.filled{
    color: red;
}
@media(max-width:992px){
    .top-player{
        grid-template-columns: repeat(2, 1fr);
    }
    .top-blog{
        grid-template-columns: repeat(2, 1fr);
    
    }
    .main-div{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:668px){
    .top-player{
        grid-template-columns: repeat(1, 1fr);
    }
    .top-blog{
        grid-template-columns: repeat(1, 1fr);
    }
    .main-div{
        grid-template-columns: repeat(1, 1fr);
    }
    .article-blog{
        display: block;
    }
}